.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 2vmin);
  color: #8c1515;
}

textarea {
  width: 80%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #891010;
  background-color: #292828;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #921212;
  color: white;
}

button:hover {
  background-color: #c94c4c;
}

#story-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 80%;
}

.story-block {
  background-color: #383737;
  border: 1px solid #911313;
  padding: 20px;
  margin: 10px;
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: white;
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}

.story-block h2 {
  color: #9d1919;
  text-align: center;
}

.story-block p {
  color: white;
  margin-bottom: 0;
}

.feedback-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.feedback-buttons button {
  font-size: 26px;
  margin: 0 5px;
}

footer {
  background-color: black;
  padding: 20px;
  color: #910f0f;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.selected {
  background-color: #47a54a;
  color: white;
}

.selected.down {
  background-color: #e94034;
  color: white;
}
